@use '../basics/variables' as *;

#app {
    max-width: 800px;
    margin: 0 auto;
    h1 {
        text-align: center;
    }
    .closest-sites {
        margin-top: 50px;
        .site {
            border: 1px solid $gray;
            border-radius: 4px;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
            margin-bottom: 10px;
            padding: 12px 15px;
            position: relative;
            overflow: hidden;
            padding-right: 55px;
            .name {
                font-weight: 900;
                margin-bottom: 10px;
            }
            .agent {
                span:first-child {
                    font-weight: 600;
                }
            }
            &:nth-child(2) {
                &::after {
                    content: 'Closest';
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: -50px;
                    transform: translate(0, -50%) rotate(-45deg);
                    background: $green;
                    color: $text-light;
                    padding: 3px 5px;
                    width: 200px;
                    text-align: center;
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
    }
}
